In [ ]:
# install necessary packages
!pip install PyNomaly

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: PyNomaly in /usr/local/lib/python3.9/dist-packages (0.3.3)
Requirement already satisfied: numpy in /usr/local/lib/python3.9/dist-packages (from PyNomaly) (1.22.4)
Requirement already satisfied: python-utils in /usr/local/lib/python3.9/dist-packages (from PyNomaly) (3.5.2)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# loading train data
import pandas as pd
train_data_csv = pd.read_csv("/content/drive/MyDrive/Filters_colorectal/train_30_noise.csv")

In [ ]:
# library imports
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
from sklearn.cluster import DBSCAN
from PyNomaly import loop

In [ ]:
t_losses = train_data_csv.loss.values

In [ ]:
print(f"Max loss: {t_losses.max()}")
print(f"Min loss: {t_losses.min()}")

Max loss: 9.223382949829102
Min loss: 0.0

In [ ]:
train_data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Columns: 1026 entries, f_1 to label
dtypes: float64(1025), int64(1)
memory usage: 31.3 MB

In [ ]:
# drop loss and label columns --> can we keep loss as well ?
train_data = pd.DataFrame(train_data_csv.drop(['loss', 'label'], axis=1))
train_data.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1015,f_1016,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.087052,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.169110,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.027428

In [ ]:
# pLOF without cluster labels
m = loop.LocalOutlierProbability(train_data, extent=2, n_neighbors=20, use_numba=True, progress_bar=True).fit()
p_scores = m.local_outlier_probabilities
print(f"total probabilities: {len(p_scores)}")

[ ================================================================================= ] 100.00%total probabilities: 4000

In [ ]:
# merging pLOF with original dataframe
# assigning pLOF values as a column in dataframe
train_data_wo_clust = train_data_csv.assign(plof_scores=p_scores)
train_data_wo_clust.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.091452,4,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.074872,2,0.001962
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000101,5,0.371803
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000013,6,0.000142
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.027428,0.002919,4,0.011295

In [ ]:
# save without sorting
train_data_wo_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_all_train_features_with_plof.csv', index=False)

In [ ]:
print(f"minimum loss: {train_data_wo_clust['loss'].min()}")
print(f"maximum loss: {train_data_wo_clust['loss'].max()}")
print(f"minimum pLOF score: {train_data_wo_clust['plof_scores'].min()}")
print(f"maximum pLOF score: {train_data_wo_clust['plof_scores'].max()}")

minimum loss: 0.0
maximum loss: 9.223382949829102
minimum pLOF score: 0.0
maximum pLOF score: 1.0

In [ ]:
# taking a new dataframe and store sorted dataframe based on loss and plof scores
sorted_train_data_wo = train_data_wo_clust.sort_values(by=['plof_scores', 'loss'],
                                 ascending= [True, True], axis=0)
sorted_train_data_wo.head(10)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
30,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.831419,0.0,3,0.0
39,0.0,0.0,0.0,0.0,0.0,3.273771,0.0,0.0,0.0,0.728039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
54,0.0,0.0,0.0,0.0,0.0,3.260179,0.0,0.0,0.0,0.361833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
84,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,9.061059,0.0,3,0.0
125,0.0,0.0,0.0,0.0,0.0,2.801856,0.0,0.0,0.0,0.465698,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
341,0.0,0.0,0.0,0.0,0.0,3.154172,0.0,0.0,0.0,0.746262,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
369,0.0,0.0,0.0,0.0,0.0,2.527183,0.0,0.0,0.0,0.218023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
386,0.0,0.0,0.0,0.0,0.0,5.619728,0.0,0.0,0.0,0.979364,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
413,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,9.959064,0.0,3,0.0
449,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.183116,0.0,3,0.0

In [ ]:
# taking 70 percentage of data after sorting
percentage = round((len(sorted_train_data_wo) / 100) * 70)
percentage = int(percentage)
print(f"data to be selected: {percentage}")

# now taking final dataset
final_train_woc = sorted_train_data_wo[:percentage]
final_train_woc.head()

data to be selected: 2800

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
30,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.831419,0.0,3,0.0
39,0.0,0.0,0.0,0.0,0.0,3.273771,0.0,0.0,0.0,0.728039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
54,0.0,0.0,0.0,0.0,0.0,3.260179,0.0,0.0,0.0,0.361833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
84,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,9.061059,0.0,3,0.0
125,0.0,0.0,0.0,0.0,0.0,2.801856,0.0,0.0,0.0,0.465698,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0

In [ ]:
final_train_woc.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_selected_train_features_with_plof_wo_cluster.csv', index=False)

In [ ]:
# pLOF with cluster labels, here we can use any cluster based algorithm to get cluster labels
# using DBSCAN
db = DBSCAN(eps=0.9, min_samples=10).fit(train_data)

m_clust = loop.LocalOutlierProbability(train_data, extent=2, cluster_labels=list(db.labels_), use_numba=True, progress_bar=True).fit()
p_scores_clust = m_clust.local_outlier_probabilities
print(" ")
print(f"total probabilities: {p_scores_clust}")
# print("scores_clust: \n", scores_clust)

[ ================================================================================================================================================================================ ] 100.00%
total probabilities: [0.19124835522798278 0.0 0.5002996944517496 ... 0.3057721586860246
 0.4289951745764994 0.0]

In [ ]:
# assigning pLOF values as a column in dataframe
train_data_clust = train_data_csv.assign(plof_scores=p_scores_clust)
train_data_clust.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.091452,4,0.191248
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.074872,2,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000101,5,0.5003
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000013,6,0.037311
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,3.027428,0.002919,4,0.360721

In [ ]:
# save without sorting using cluster
train_data_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_all_train_features_with_plof_cluster.csv', index=False)

In [ ]:
print(f"minimum loss: {train_data_clust['loss'].min()}")
print(f"maximum loss: {train_data_clust['loss'].max()}")
print(f"minimum pLOF score: {train_data_clust['plof_scores'].min()}")
print(f"maximum pLOF score: {train_data_clust['plof_scores'].max()}")

minimum loss: 0.0
maximum loss: 9.223382949829102
minimum pLOF score: 0.0
maximum pLOF score: 0.9999425809144615

In [ ]:
# taking a new dataframe and store sorted dataframe based on loss and plof scores
sorted_train_data_clust = train_data_clust.sort_values(by=['plof_scores', 'loss'],
                                 ascending= [True, True], axis=0)
sorted_train_data_clust.head(10)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
30,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.831419,0.0,3,0.0
39,0.0,0.0,0.0,0.0,0.0,3.273771,0.0,0.0,0.0,0.728039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
54,0.0,0.0,0.0,0.0,0.0,3.260179,0.0,0.0,0.0,0.361833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
67,0.0,0.0,0.0,0.0,0.0,4.334775,0.0,0.0,0.0,0.679997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
125,0.0,0.0,0.0,0.0,0.0,2.801856,0.0,0.0,0.0,0.465698,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
369,0.0,0.0,0.0,0.0,0.0,2.527183,0.0,0.0,0.0,0.218023,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
383,0.0,0.0,0.0,0.0,0.0,3.170602,0.0,0.0,0.0,1.004887,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
391,0.0,0.0,0.0,0.0,0.0,3.954205,0.0,0.0,0.0,0.639764,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
449,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.183116,0.0,3,0.0
490,0.0,0.0,0.0,0.0,0.0,3.364200,0.0,0.0,0.0,0.745108,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0

In [ ]:
# taking 70 percentage of data after sorting
percentage = round((len(sorted_train_data_clust) / 100) * 70)
percentage = int(percentage)
print(f"data to be selected: {percentage}")

# now taking final dataset
final_train_clust = sorted_train_data_clust[:percentage]
final_train_clust.head()

data to be selected: 2800

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
30,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,8.831419,0.0,3,0.0
39,0.0,0.0,0.0,0.0,0.0,3.273771,0.0,0.0,0.0,0.728039,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
54,0.0,0.0,0.0,0.0,0.0,3.260179,0.0,0.0,0.0,0.361833,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
67,0.0,0.0,0.0,0.0,0.0,4.334775,0.0,0.0,0.0,0.679997,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
125,0.0,0.0,0.0,0.0,0.0,2.801856,0.0,0.0,0.0,0.465698,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0

In [ ]:
# save with cluster
final_train_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_selected_train_features_with_plof_cluster.csv', index=False)

In [ ]:
del final_train_clust
del sorted_train_data_clust
del train_data_clust

**test data**

In [ ]:
# do the same process for test data as well
# it will make the final dataset with label noise
# you will be using this train and test data for your next experiment =: feature selection, classification etc.

In [ ]:
# loading test data
import pandas as pd
test_data_csv = pd.read_csv("/content/drive/MyDrive/Filters_colorectal/test_30_noise.csv")

In [ ]:
t_losses = test_data_csv.loss.values

In [ ]:
print(f"Max loss: {t_losses.max()}")
print(f"Min loss: {t_losses.min()}")

Max loss: 11.585342407226562
Min loss: 0.0

In [ ]:
test_data_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Columns: 1026 entries, f_1 to label
dtypes: float64(1025), int64(1)
memory usage: 7.8 MB

In [ ]:
# drop loss and label columns --> can we keep loss as well ?
test_data = pd.DataFrame(test_data_csv.drop(['loss', 'label'], axis=1))
test_data.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1015,f_1016,f_1017,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.889932,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.000000,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
3,0.0,0.0,0.0,0.0,0.0,4.487196,0.0,0.0,0.0,1.419771,...,0.472916,0.0,8.289819,0.0,0.0,0.0,0.0,0.0,0.0,0.000000
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.227223,0.0,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.067922

In [ ]:
# pLOF without cluster labels
m = loop.LocalOutlierProbability(test_data, extent=2, n_neighbors=20, use_numba=True, progress_bar=True).fit()
p_scores = m.local_outlier_probabilities
print(f"total probabilities: {len(p_scores)}")

[ ==================================================================================== ] 100.00%total probabilities: 1000

In [ ]:
# merging pLOF with original dataframe
# assigning pLOF values as a column in dataframe
test_data_wo_clust = test_data_csv.assign(plof_scores=p_scores)
test_data_wo_clust.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.091893,7,0.383456
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.519533,2,0.134396
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.017773,2,0.133509
3,0.0,0.0,0.0,0.0,0.0,4.487196,0.0,0.0,0.0,1.419771,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,6,0.147695
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.067922,0.011317,5,0.366144

In [ ]:
# save without sorting
test_data_wo_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_all_test_features_with_plof.csv', index=False)

In [ ]:
print(f"minimum loss: {test_data_wo_clust['loss'].min()}")
print(f"maximum loss: {test_data_wo_clust['loss'].max()}")
print(f"minimum pLOF score: {test_data_wo_clust['plof_scores'].min()}")
print(f"maximum pLOF score: {test_data_wo_clust['plof_scores'].max()}")

minimum loss: 0.0
maximum loss: 11.585342407226562
minimum pLOF score: 0.0
maximum pLOF score: 0.9990282724540579

In [ ]:
# taking a new dataframe and store sorted dataframe based on loss and plof scores
sorted_test_data_wo = test_data_wo_clust.sort_values(by=['plof_scores', 'loss'],
                                 ascending= [True, True], axis=0)
sorted_test_data_wo.head(10)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
57,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.651211,0.0,3,0.0
66,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,10.133468,0.0,3,0.0
80,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,10.105808,0.0,3,0.0
159,0.0,0.0,0.0,0.0,0.0,4.163574,0.0,0.0,0.0,0.847536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
213,0.0,0.0,0.0,0.0,0.0,3.304197,0.0,0.0,0.0,0.600333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
216,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.545340,0.0,4,0.0
227,0.0,0.0,0.0,0.0,0.0,4.326560,0.0,0.0,0.0,0.750134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
247,0.0,0.0,0.0,0.0,0.0,2.346807,0.0,0.0,0.0,0.394730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
273,0.0,0.0,0.0,0.0,0.0,2.555244,0.0,0.0,0.0,0.593737,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
286,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,9.100317,0.0,3,0.0

In [ ]:
# taking 70 percentage of data after sorting
percentage = round((len(sorted_test_data_wo) / 100) * 70)
percentage = int(percentage)
print(f"data to be selected: {percentage}")

# now taking final dataset
final_test_woc = sorted_test_data_wo[:percentage]
final_test_woc.head()

data to be selected: 700

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
57,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,11.651211,0.0,3,0.0
66,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,10.133468,0.0,3,0.0
80,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,10.105808,0.0,3,0.0
159,0.0,0.0,0.0,0.0,0.0,4.163574,0.0,0.0,0.0,0.847536,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
213,0.0,0.0,0.0,0.0,0.0,3.304197,0.0,0.0,0.0,0.600333,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0

In [ ]:
final_test_woc.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_selected_test_features_with_plof_wo_cluster.csv', index=False)

In [ ]:
# pLOF with cluster labels, here we can use any cluster based algorithm to get cluster labels
# using DBSCAN
db = DBSCAN(eps=0.9, min_samples=10).fit(test_data)

m_clust = loop.LocalOutlierProbability(test_data, extent=2, cluster_labels=list(db.labels_), use_numba=True, progress_bar=True).fit()
p_scores_clust = m_clust.local_outlier_probabilities
print(" ")
print(f"total probabilities: {p_scores_clust}")
# print("scores_clust: \n", scores_clust)

[ ================================================================================================================================================================================== ] 100.00%
total probabilities: [0.0 0.05852776813478255 0.0 0.3515699539040839 0.28788167830179234 0.0
 0.05834830309837943 0.0 0.22931629456364833 0.32562926226198174 0.0 0.0
 0.18554070241706083 0.2610084625541716 0.15406770218012805 0.0
 0.32133835149614454 0.31334110579854213 0.41928222919396724
 0.46193208868847563 0.8427118270993538 0.0 0.18001577506440425 0.0
 0.6113289775503936 0.0 0.0 0.0 0.357231315601988 0.0 0.013775872498115826
 0.0 0.0 0.0 0.6021579834168198 0.6332707011029685 0.0349526898421166
 0.8106635221027284 0.0 0.0 0.0 0.0 0.02201820614041981 0.5002109256016728
 0.4773329247153477 0.3423194663777456 0.0 0.0 0.2494192590931445
 0.27343697530036726 0.0 0.8327235015721436 0.20412603405832316
 0.01871001617638668 0.4743733721985172 0.0 0.6694954223338652
 0.2777300084732784 0.21834020765269577 0.0 0.30464646909119647 0.0 0.0
 0.4535851569181812 0.139904474289345 0.09851761639414634
 0.19002654744020353 0.8896664260062154 0.43850215308086904 0.0 0.0 0.0
 0.9567012297815278 0.0 0.3071798965230747 0.12302781547264384 0.0
 0.088966075221442 0.2881382148640583 0.7256460807680359
 0.1901117172370399 0.0 0.0 0.0 0.4584986748887175 0.0 0.01060263339668608
 0.0 0.0 0.0 0.0 0.1425258594527067 0.0 0.0 0.31254135404434913
 0.2837852944951034 0.10648583796226617 0.115978320499589
 0.033169738899820285 0.09229555623598507 0.6848892597795413 0.0
 0.4076966658089248 0.7014851398559141 0.0 0.3503240842104205 0.0 0.0
 0.6875807243007088 0.2645833494194212 0.0 0.04129159848665427 0.0 0.0 0.0
 0.0 0.32989611497017435 0.2843044778692655 0.0 0.4419684109344139
 0.14379983997873022 0.0 0.0 0.0 0.2593062983953116 0.14516374846652813
 0.0 0.0 0.0 0.0 0.0 0.5073544265791166 0.0 0.6921371660435032 0.0
 0.7120196680329807 0.07069356964060988 0.0 0.0 0.13634145190626779
 0.22972700029551057 0.285275778107631 0.07310645477124338
 0.16870194506716216 0.0 0.0 0.0 0.6218406097590435 0.0 0.0
 0.009909664128333452 0.0 0.0 0.0 0.0 0.05978990802375473 0.0
 0.294801672340752 0.0 0.19179115165938315 0.0 0.5443844180505196
 0.32077398927805456 0.0 0.002987435082351801 0.3089847785075151 0.0
 0.6996781643129083 0.0 0.0 0.0 0.0 0.0 0.010205286700075913
 0.4520533728631224 0.0 0.15065092508689487 0.0 0.034523870540227784
 0.6275692219712654 0.0 0.18753609663171342 0.0 0.26225812621827943
 0.12480511843085121 0.0 0.23100374964216072 0.0 0.07064255752517633
 0.1564902021378287 0.0 0.21771085112380897 0.0 0.0 0.0 0.194296553841623
 0.0 0.11041578403236538 0.0 0.0 0.23067377068785574 0.0 0.0
 0.1676842235634504 0.40365695501157645 0.08062158517839718 0.0
 0.03166740802117662 0.0 0.3904733827054487 0.13026399386938986 0.0
 0.36910938321265585 0.29923674072166273 0.0 0.1341523258651364
 0.39793117360043145 0.0 0.0 0.0 0.0 0.504797577922091 0.07835743918008492
 0.0 0.03876904502498602 0.7772804018462708 0.0 0.0 0.305416360049098 0.0
 0.6923516078268173 0.0 0.18801395067295762 0.0 0.6496612776126524 0.0
 0.13081405478888816 0.4670255803251014 0.0 0.34122856675558894 0.0 0.0
 0.6358776680706347 0.2689361042567251 0.7691813018982834
 0.19711781604788792 0.0 0.0 0.0 0.2827868052985187 0.0
 0.03229894546421165 0.039779495989321983 0.0 0.07408889165680803
 0.8578986421412039 0.0 0.030306879876266634 0.6196283617795576 0.0 0.0
 0.5688839405765604 0.0 0.546537947639913 0.0 0.0 0.6287497241019911
 0.4695961382304159 0.0 0.0016536621791323855 0.5538128274357198
 0.0029749085697509652 0.37104119336676056 0.32531757268175165
 0.3203638570812608 0.23980874720024706 0.0398925601814264
 0.07456949006340705 0.0 0.4320362734525975 0.0 0.2535099758386949 0.0
 0.36294581754244826 0.44845711199514754 0.7832168468515921
 0.44850727216197045 0.23724632080597055 0.2726953404587219 0.0 0.0 0.0
 0.061320230327910334 0.0 0.36885355157839655 0.0 0.0 0.0 0.0
 0.09803795932856428 0.0 0.0 0.021839174633502795 0.0 0.3477470033755522
 0.0 0.15724549822815678 0.0 0.19154891498904053 0.35713137626245567
 0.4249588831765612 0.0 0.0 0.5372921690555195 0.364666404416798 0.0
 0.36723977284022813 0.04197245521859891 0.0 0.0 0.0 0.0
 0.42750361226931466 0.0926160411901408 0.0 0.0 0.3104688293072215 0.0
 0.24168816721889289 0.17422019469158267 0.0 0.4042669134730066 0.0
 0.1858535456837748 0.0 0.12400752798540562 0.004377937905112685 0.0 0.0
 0.36773736121294726 0.0 0.0 0.09157916832003093 0.44856001752262653 0.0
 0.0 0.0 0.0 0.0 0.1548793527361413 0.0 0.04965686887232986
 0.39758524255679106 0.5731827664635947 0.0 0.33254167087681996
 0.294890706675598 0.015683021003999445 0.0 0.11005610242494467 0.0 0.0
 0.0 0.19188467347524268 0.5448841862818894 0.0 0.0 0.133427086219679 0.0
 0.38624795346911034 0.0 0.0 0.0 0.0 0.0 0.0 0.18331656612274277
 0.22020317793877478 0.0 0.012493011082411538 0.2898182783882663 0.0
 0.11454951980640156 0.6753017724669081 0.006000435958903522
 0.4188425221084492 0.1652058526714889 0.4554075941880752 0.0
 0.6564745942687984 0.0 0.0 0.39590581060114266 0.0 0.07309334570466187
 0.6711931775697149 0.0 0.0 0.444862672783593 0.0 0.0 0.4223595826711223
 0.8838621210112971 0.9983153628665917 0.0 0.2727816977487893
 0.22774028392487197 0.0 0.661215650597318 0.2641691871797376
 0.7168240412294195 0.0 0.0 0.04409938339137713 0.21468870691058511
 0.19544871651524037 0.0 0.0 0.0 0.15931883366998006 0.7591556622982691
 0.0 0.35794357823799927 0.43518754645162205 0.03292585425029505 0.0 0.0
 0.5780773226905401 0.0 0.17431986350438775 0.17505891217729663 0.0
 0.19528974443998046 0.7075279745312454 0.05261696917596266
 0.8501339318002292 0.16776735927134423 0.0 0.46494335427871386
 0.008839495647798878 0.12120037919802637 0.0 0.0766460533306537 0.0
 0.23871791264611447 0.13233822867141826 0.0 0.056534335953182135 0.0 0.0
 0.0 0.4031354981710803 0.0 0.0 0.40428494398669856 0.0
 0.21315327505597245 0.0938985592989273 0.0 0.3682500462680896
 0.19296584637587325 0.0 0.1478462192409094 0.43008637301988184
 0.13455970848509508 0.500191884605272 0.42208952419671414
 0.23840413687103823 0.00768955779574985 0.0 0.0 0.6535703877776708 0.0
 0.0 0.0 0.010395060679184125 0.27153098789237323 0.0 0.0
 0.06959236490431531 0.03315431037159751 0.0 0.07046617290007828
 0.15857178591399285 0.07338088773493381 0.5338307917780193
 0.15406471853898926 0.19479781077459996 0.0 0.3361330144942999 0.0 0.0
 0.18344094489324 0.3230048772986919 0.33741894872632255 0.0
 0.7466675755894483 0.4834754872604486 0.0 0.03663673886623077 0.0 0.0 0.0
 0.7298878676217633 0.0 0.0 0.5049751192414084 0.040118049611223124
 0.15697168461398492 0.0 0.6249824722628082 0.0 0.8696874060577344
 0.2986733791702465 0.18724573706351483 0.0 0.02037452841581472 0.0 0.0
 0.306561242292373 0.19842188048817244 0.0 0.35997793139971496 0.0 0.0
 0.5727586324572145 0.3480330000823513 0.09322728009219432
 0.2493751365489495 0.0 0.0 0.2135258553460711 0.0 0.14542756854575786
 0.009883231152816625 0.0 0.0 0.0 0.0 0.2696973807241143
 0.23733282035522188 0.0 0.0 0.1369761042909024 0.0 0.0 0.0 0.0
 0.9497233273198749 0.08826194813382933 0.0 0.0 0.2366016056254173
 0.36421578051571113 0.4724480067850971 0.0 0.23825345321470717
 0.845131401639835 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.0 0.09660727259772392
 0.0 0.6803827815909727 0.08138707977460771 0.0 0.34217933107909193
 0.0013276170457498556 0.0 0.16388703432965324 0.0 0.0 0.0 0.0
 0.2490171482779082 0.07966437043654886 0.0 0.3577398787704743
 0.30226388671412036 0.0 0.0 0.0 0.07584675052117344 0.21518999921262333
 0.0 0.039340911288249764 0.0 0.09700466664662824 0.11661017794197745 0.0
 0.3768230856185801 0.7228121156461846 0.0 0.6890933145798022
 0.4362169067937311 0.02320521172643854 0.8389823852337082 0.0
 0.09475624817795153 0.17191727680465266 0.0 0.0 0.27799567022482186 0.0
 0.3002527555026208 0.0 0.0 0.1731415753730482 0.0 0.32752875859016045
 0.20286344937247527 0.08709265772556532 0.018706889503100045 0.0
 0.04337372324220643 0.0008336540680399702 0.6190414792543822
 0.6847108195806387 0.0 0.0 0.40094657794700816 0.042946478315658135
 0.5718117133069285 0.7586213799191629 0.6301925994971533
 0.14190622623145863 0.487705026155701 0.2121485945585852
 0.24144941205037768 0.0 0.0 0.17811148373309305 0.5168681523379246 0.0
 0.0 0.0 0.01987095002757236 0.0948188868837149 0.6148065567994623
 0.24424224512576653 0.0 0.08585006453406452 0.0 0.07348357617252964
 0.20043626088442149 0.4564509237753385 0.0 0.2657820238358274 0.0 0.0 0.0
 0.0 0.025572325563358537 0.2680550696438958 0.0 0.03602256930370043 0.0
 0.004325226193269138 0.0 0.12180204882889076 0.0 0.0 0.0 0.0 0.0 0.0
 0.17415450578710623 0.0696945033902982 0.0 0.08546607992590757
 0.3462499314179302 0.0 0.0 0.05369706720966515 0.0 0.014845477145358782
 0.0 0.0 0.11687135942657406 0.016994750881622677 0.14989697961028445 0.0
 0.40426343054822683 0.38615054245464747 0.0 0.0 0.7072312569416455 0.0
 0.0 0.19485148084301718 0.29084422644410596 0.5002967901150879
 0.1877128412262507 0.22639106733867095 0.0 0.0 0.0 0.0
 0.09379397689493801 0.7382451511428219 0.46175625108212737
 0.24850839416666165 0.0 0.2444917164711744 0.0 0.4616003646399528 0.0 0.0
 0.3535233640457264 0.0 0.0 0.0 0.0 0.4925969745694578 0.1230575560771669
 0.1068619449880164 0.04495151541662791 0.101102781912171
 0.4597610345984781 0.0 0.0 0.21701408016224258 0.0 0.08576398478945921
 0.15841908865793108 0.4711357602695063 0.15021633263155715
 0.10711802924049771 0.30132202300110084 0.0 0.27404145706646127 0.0 0.0
 0.0 0.0 0.58576722589096 0.10671259604640197 0.1166507032636021
 0.492983851327862 0.20663870085572186 0.0 0.0 0.21139001106257643
 0.14430378620731585 0.0 0.9075587954804878 0.0 0.2303075912354193
 0.08983683228369724 0.0 0.26684541542926316 0.0 0.2562019394419117
 0.18460596637726479 0.23406405578538023 0.0 0.2356870232293383
 0.34297347365020187 0.04172828433896026 0.3481484680273909
 0.23622408660320568 0.0 0.18975106585588036 0.7539941058147621
 0.052933907812684526 0.0 0.045628333676163715 0.0 0.5463057801008332
 0.9887280738755375 0.24605145360217429 0.2822360481572457 0.0
 0.43698375287721036 0.3549672474432508 0.11170863131391279
 0.08033041480166357 0.3667962350460629 0.4089115070652968
 0.1765121978959859 0.22182238988271258 0.0 0.0 0.061565455825676414 0.0
 0.0 0.0 0.0 0.11931517706444862 0.18752095287714185 0.7687929749314873
 0.026857328176089483 0.02058481075796652 0.20485821141659763 0.0 0.0 0.0
 0.29783889744944536 0.0 0.5429054671454998 0.12651392884945717
 0.13105322018871615 0.015496912060449895 0.0714307867164301 0.0
 0.31916871488368875 0.0 0.0 0.6078542546160378 0.0 0.42835755744030696
 0.6389325823367524 0.0 0.0 0.0 0.0 0.6016022473535628 0.0 0.0
 0.06256772895334843 0.20593906497715614 0.6768860829839979 0.0 0.0 0.0
 0.028881462991986503 0.19830504472317126 0.0 0.1292396511168969 0.0
 0.3118726736400962 0.46567980301236306 0.0 0.0 0.0 0.4814451642198633
 0.2634294097118979 0.0 0.18627160619818098 0.0 0.0 0.0 0.0
 0.462584214595125 0.0 0.0 0.3287764848825165 0.5117575013636023
 0.9498082999738782 0.11896153851230114 0.07590507934358717
 0.5466292702596292 0.5930715738977359 0.0 0.17364471104281032 0.0 0.0
 0.43632976326628703 0.0 0.0 0.38004717210714156 0.045307492490236766
 0.013038552684483057 0.0 0.1041397978054084 0.0 0.0 0.1859369813099287
 0.8253527928708966 0.027299553913867236 0.6752140727224777
 0.05049699893398769 0.008170709016884532 0.09856207233887575
 0.6640405709104514 0.45056815557378477 0.5636479981489926 0.0
 0.44899556758345877 0.3025500931331044 0.0 0.0 0.5287723144282896 0.0 0.0
 0.0 0.7823417489502935 0.1351652394408951 0.0 0.5382839752111894 0.0
 0.26140987095148593 0.24763976706535698 0.05053901320726485 0.0
 0.7718976909322349 0.004852279806201621 0.09951434316018332 0.0 0.0
 0.18222859527002572 0.3003573250303392 0.7826653944183811 0.0 0.0 0.0
 0.09977867525644675 0.20736061410651963 0.0 0.0 0.7009204784221127
 0.7220055003083167 0.057070585539294186 0.08353816488714395
 0.2106672841916779 0.42012757734830175 0.3353445146226353
 0.003705488127169766 0.0 0.0 0.0 0.30893054555296606 0.44179628398883464
 0.0 0.17874826204401464 0.0 0.0 0.0 0.0 0.0 0.006596381092404212 0.0
 0.2398648201610604 0.7325876146729213 0.035452211993950176
 0.290173158001076 0.0 0.16922848583468722 0.0 0.0 0.20152477166450705
 0.07261877229625757 0.08671734672140742 0.6278395631892618
 0.2121829713224654 0.0 0.2907317471191558 0.0 0.020148484149621754 0.0
 0.0962199637102712 0.2593290267528788 0.0 0.0 0.012656281898004792 0.0
 0.0 0.0 0.0 0.0558054605551738 0.0 0.0 0.8707721529329067
 0.7332373784654189 0.4044566514327367 0.39800880191438526
 0.5894893295011056 0.0 0.19059857167428954 0.3190564450932343 0.0 0.0 0.0
 0.31338857492881916 0.9529393913248078 0.0 0.2785100008226191
 0.1046218798917272 0.0 0.060204506901896056 0.1662404344196869 0.0 0.0
 0.7777926435849524 0.0 0.0 0.0 0.29595738056297266 0.0
 0.22496083905237993 0.06142604924658217 0.0 0.3344258680078371 0.0]

In [ ]:
# assigning pLOF values as a column in dataframe
test_data_clust = test_data_csv.assign(plof_scores=p_scores_clust)
test_data_clust.head()

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.091893,7,0.0
1,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.519533,2,0.058528
2,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.017773,2,0.0
3,0.0,0.0,0.0,0.0,0.0,4.487196,0.0,0.0,0.0,1.419771,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,6,0.35157
4,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.067922,0.011317,5,0.287882

In [ ]:
# save without sorting using cluster
test_data_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_all_test_features_with_plof_cluster.csv', index=False)

In [ ]:
print(f"minimum loss: {test_data_clust['loss'].min()}")
print(f"maximum loss: {test_data_clust['loss'].max()}")
print(f"minimum pLOF score: {test_data_clust['plof_scores'].min()}")
print(f"maximum pLOF score: {test_data_clust['plof_scores'].max()}")

minimum loss: 0.0
maximum loss: 11.585342407226562
minimum pLOF score: 0.0
maximum pLOF score: 0.9983153628665917

In [ ]:
# taking a new dataframe and store sorted dataframe based on loss and plof scores
sorted_test_data_clust = test_data_clust.sort_values(by=['plof_scores', 'loss'],
                                 ascending= [True, True], axis=0)
sorted_test_data_clust.head(10)

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
227,0.0,0.0,0.0,0.0,0.0,4.326560,0.0,0.0,0.0,0.750134,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,6,0.0
247,0.0,0.0,0.0,0.0,0.0,2.346807,0.0,0.0,0.0,0.394730,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,6,0.0
320,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.000000,10.664624,0.000000e+00,4,0.0
324,0.0,0.0,0.0,0.0,0.0,1.986207,0.0,0.0,0.0,0.198001,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,6,0.0
461,0.0,0.0,0.0,0.0,0.0,2.289609,0.0,0.0,0.0,0.539653,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,6,0.0
755,0.0,0.0,0.0,0.0,0.0,2.548663,0.0,0.0,0.0,0.307429,...,0.0,0.0,0.0,0.0,0.0,0.070457,0.000000,0.000000e+00,6,0.0
845,0.0,0.0,0.0,0.0,0.0,2.067249,0.0,0.0,0.0,0.124843,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000e+00,7,0.0
894,0.0,0.0,0.0,0.0,0.0,3.181312,0.0,0.0,0.0,0.049366,...,0.0,0.0,0.0,0.0,0.0,0.242531,0.000000,0.000000e+00,7,0.0
256,0.0,0.0,0.0,0.0,0.0,2.380625,0.0,0.0,0.0,0.380331,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.192093e-07,7,0.0
400,0.0,0.0,0.0,0.0,0.0,1.795038,0.0,0.0,0.0,0.060358,...,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,1.192093e-07,6,0.0

In [ ]:
# taking 70 percentage of data after sorting
percentage = round((len(sorted_test_data_clust) / 100) * 70)
percentage = int(percentage)
print(f"data to be selected: {percentage}")

# now taking final dataset
final_test_clust = sorted_test_data_clust[:percentage]
final_test_clust.head()

data to be selected: 700

,f_1,f_2,f_3,f_4,f_5,f_6,f_7,f_8,f_9,f_10,...,f_1018,f_1019,f_1020,f_1021,f_1022,f_1023,f_1024,loss,label,plof_scores
227,0.0,0.0,0.0,0.0,0.0,4.326560,0.0,0.0,0.0,0.750134,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
247,0.0,0.0,0.0,0.0,0.0,2.346807,0.0,0.0,0.0,0.394730,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
320,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,0.0,0.0,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,10.664624,0.0,4,0.0
324,0.0,0.0,0.0,0.0,0.0,1.986207,0.0,0.0,0.0,0.198001,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0
461,0.0,0.0,0.0,0.0,0.0,2.289609,0.0,0.0,0.0,0.539653,...,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.0,6,0.0

In [ ]:
# save with cluster
final_test_clust.to_csv(r'/content/drive/MyDrive/Filters_colorectal/30_selected_test_features_with_plof_cluster.csv', index=False)

In [ ]:
del final_test_clust
del sorted_test_data_clust
del test_data_clust